doctype html
html(lang = "en")
	head
		title Explore React -
			block title
		include ./common/meta.jade
		include ./common/scripts.jade
	body
		div(class = "main container-fluid")
			include ./common/bootstrap.jade
